
/**********************/
/***  Media Queries ***/
/**********************/

/**********************//**********************//**********************//**********************/

@media (max-width: 321px) {
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 16px;
    }
    .oc input {
        display: block;
        margin: 0px auto !important;
    }
}

/**********************//**********************//**********************//**********************/

@media (min-width: 322px) and (max-width: 480px) {
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 16px;
    }
    .oc input {
        display: block;
        margin: 0px auto !important;
    }
}

/**********************//**********************//**********************//**********************/

@media (min-width: 481px) and (max-width: 560px) {}

/**********************//**********************//**********************//**********************/

@media (min-width: 561px) and (max-width: 767px) {}

/**********************//**********************//**********************//**********************/

@media (min-width: 768px) and (max-width: 1080px) {}

