
/**************************************************************************/
/*****************************    Base CSS    *****************************/
/**************************************************************************/

html,
body {
  height: 100%;
  width: 100%;
  font-family: Monda, sans-serif;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: rgba(104, 162, 229, 0.9);
  background-image: -webkit-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(104, 224, 44, 0.6) 100%);
  background-image: -moz-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(104, 224, 44, 0.6) 100%);
  background-image: -o-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(104, 224, 44, 0.6) 100%);
  background-image: -ms-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(104, 224, 44, 0.6) 100%);
  background-image: linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(104, 224, 44, 0.6) 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  color: #363b3e;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

/* --- Onboarded Flow CSS --- */

#logo {
  display: inline-block;
  height: 60px;
  width: 60px;
  background: url('../img/Onboarded-logo.png');
  background-size: cover;
  background-position: center;
  vertical-align: middle;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#logo:hover {
  -webkit-filter: invert(50%);
  -moz-filter: invert(50%);
  filter: invert(50%);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#logo:active {
  -webkit-filter: invert(70%);
  -moz-filter: invert(70%);
  filter: invert(70%);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.top {
  margin-top: 120px;
  font-weight: 400;
  color: #555;
}
.oc {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}
.oc h2 {
  color: #FFF;
}
.oc button {
  height: 120px;
  width: 120px;
  margin: 15px;
  padding: 15px 30px;
  color: #FFF;
  font-size: 15px;
  font-weight: 700;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.oc button:first-of-type {
  background: rgb(218, 80, 3);
}
.oc button:first-of-type:hover {
  background: rgb(238, 100, 23);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.oc button:first-of-type:active {
  background: rgb(253, 115, 38);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.oc button:last-of-type {
  background: rgb(179, 10, 139);
}
.oc button:last-of-type:hover {
  background: rgb(199, 30, 159);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.oc button:last-of-type:active {
  background: rgb(214, 45, 174);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.oc button.end {
  margin: 30px auto;
  background: rgb(58, 193, 232);
  vertical-align: middle;
}
.oc button.end:hover {
  background: rgb(78, 213, 252);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.oc button.end:active {
  background: rgb(38, 173, 212);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.oc input {
  padding: 30px;
  line-height: 30px;
  vertical-align: middle;
  border: none;
  box-shadow: 0px 1px 0px #CCC, inset 0px 1px 0px #CCC;
}
.oc input:last-of-type {
  margin-right: 15px;
}
